[submodule "k8s/apps/grafana/dashboards/grafana-dashboards-kubernetes"]
	path = k8s/apps/grafana/dashboards/grafana-dashboards-kubernetes
	url = https://github.com/dotdc/grafana-dashboards-kubernetes.git
